/* ===============================
   HEADER
=================================*/

.header{
    height:72px;
    background:#ffffff;

    display:flex;
    align-items:center;
    justify-content:space-between;

    padding:0 34px;

    border-bottom:1px solid #e7edf3;
}

/*===============================*/

.header-left{
    display:flex;
    flex-direction:column;
}

.header-left h1{
    font-size:18px;
    font-weight:800;
    color:#0f2b4d;

    margin:0;
}

.header-left p{
    margin-top:6px;

    font-size:13px;

    color:#8b99ab;
}

/*===============================*/

.header-right{
    display:flex;
    align-items:center;

    gap:18px;
}

/*===============================*/

.notification-btn{

    width:36px;
    height:36px;

    border:none;
    background:transparent;

    position:relative;

    cursor:pointer;

    display:flex;
    align-items:center;
    justify-content:center;

    color:#f5a623;
}

.notification-btn:hover{

    background:#f7fafc;

    border-radius:8px;

}

.notification-badge{

    position:absolute;

    top:1px;
    right:2px;

    width:16px;
    height:16px;

    border-radius:50%;

    background:#22c55e;

    color:#fff;

    font-size:10px;
    font-weight:700;

    display:flex;
    align-items:center;
    justify-content:center;
}

/*===============================*/

.profile-btn{

    border:none;

    background:transparent;

    cursor:pointer;

    display:flex;
    align-items:center;

    gap:12px;

    padding:4px;
}

/*===============================*/

.avatar{

    width:42px;
    height:42px;

    border-radius:50%;

    background:#0f2b4d;

    color:white;

    display:flex;
    align-items:center;
    justify-content:center;

    font-weight:800;
    font-size:14px;
}

/*===============================*/

.user-info{

    display:flex;
    flex-direction:column;

    text-align:left;
}

.user-info h4{

    margin:0;

    font-size:15px;

    color:#111827;

    font-weight:700;
}

.user-info span{

    margin-top:2px;

    font-size:13px;

    color:#8b99ab;
}

/*===============================*/

.profile-btn svg:last-child{

    color:#64748b;

}